#form{
    display: flex;
    flex-direction: column;
    width: 100px;
}

.mensagem{
    background-color: #27ae60;
    padding: 16px;
    color: rgb(247, 241, 241);
    display: none;

}
.erro{
    padding: 8px;
    background-color: red;
    font-size: 12px;
    color: white;
    margin-bottom: 8px;
    display: none;
}

.erro{
    color: red;
    border: red;
    outline-color:red ;


}